header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    align-self: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000;
}
header img {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 15px;
}
header a.show-social-icon {
    visibility: visible;
    opacity: 1;
}
header .hide-social-icon {
    opacity: 0;
    transition: visibility 3s, opacity 2s linear;
    visibility: hidden;
}
header .twitter {
    background: url('./twitter.png') no-repeat;
    background-size: contain;
    background-position-x: center;
}
header .github {
    background: url('./github.png') no-repeat;
    background-size: contain;
    background-position-x: center; 
}
header .stack-overflow {
    background: url('./stack-overflow.png') no-repeat;
    background-size: contain;
    background-position-x: center;
    background-color: #fff;
}
header .linkedin {
    background: url('./linkedin.png') no-repeat;
    background-size: contain;
    background-position-x: center;
}
header .tech-blog, header .kisse-blog {
    background: url('./study.png') no-repeat;
    background-size: contain;
    background-position-x: center;
}